.contact{
    width: 100%;
    padding: 120px 0;
    background: $bg-py;
    &__block{
        width: 100%;
        @include df();
        gap: 30px;
    }
    &__content{
        width: calc(50% - 15px);
        @include dfc();
        gap: 16px;
    }
    &__subtitle{
        width: 100%;
        @include df(start, center);
        p{
            font-size: 64px;
            font-weight: 700;
            line-height: 100px;
            color: $bg-light;
        }
    }
    &__desc{
        width: 100%;
        @include dfc(start, center);
        gap: 32px;
    }
    &__title{
        width: 100%;
        @include dfc(start, center);
        p{
            font-size: 32px;
            font-weight: 700;
            line-height: 48px;
            color: $bg-sy;
        }
    }
    &__wrapper{
        width: 100%;
        @include dfc();
        gap: 8px;
    }
    &__card{
        width: 100%;
        @include df();
        gap: 23px;
        img{
            width: calc(15% - 11.5px);
        }
        p{
            width: calc(85% - 11.5px);
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            color: $bg-light;
        }
    }
    &__inp{
        width: calc(50% - 15px);
        @include dfc(start, center);
        gap: 24px;
        input{
            width: 100%;
            border-bottom: 1px solid $bg-light;
            background: inherit;
            padding: 16px 14px;
        }
        input::placeholder{
            font-size: 16px;
            font-weight: 600;
            line-height: 26px;
            color: $bg-light;
        }
        input:last-child{
            padding: 0 14px 58px;
        }
        button{
            @include btn();
            background: $bg-light;
            border: none;
            color: $bg-py;
        }
    }
}

@media (max-width: 800px){
    .contact__block{
        @include dfc();
        gap: 64px;
    }
    .contact__content{
        width: 90%;
        @include dfc(center, center);
    }
    .contact__subtitle{
        @include df(center, center);
    }
    .contact__title{
        @include df(center,center);
    }
    .contact__inp{
        width: 90%;
    }
}